<% include header %>

<core-header-panel flex>

  <%- include('admin_topbar', {activeTab: 0}) %>

  <div ng-controller="AdminManagePost">

    <div id="contents">

      <div>
      	<div class="page-title">
        <core-icon icon="list"></core-icon>&nbsp;List of post
      </div>

          <table cellspacing="0" ng-cloak>

            <thead>
              <tr>
                <th style="text-align:center">
                  <paper-checkbox name="check-all"></paper-checkbox>
                </th>
                <th>Title</th>
                <th>Publish date</th>
                <th></th>
              </tr>
            </thead>

            <tbody>

              <tr ng-repeat="post in posts">
                <td style="text-align:center">
                  <paper-checkbox id="{{post._id}}" name="check"></paper-checkbox>
                </td>
                <td>{{post.title}}</td>
                <td>{{toShortDate(post.publish_date)}}</td>
                <td>
                  <paper-menu-button>
                    <paper-icon-button icon="more-vert" title="more"></paper-icon-button>
                    <paper-dropdown class="dropdown" transition="" halign="right" style="padding:0px;">
                      <core-menu class="menu" >
                        <paper-item style="margin-top:10px;margin-left:5px;margin-right:5px;" ng-click="editPost('<%= newPostUrl %>', post._id)">
                          <core-icon icon="create"></core-icon>&nbsp;Edit
                        </paper-item>

                        <paper-item style="margin-left:5px;margin-right:5px;" ng-click="removePost('<%= postDeleteUrl %>', post._id)">
                          <core-icon icon="delete"></core-icon>&nbsp;Remove
                        </paper-item>
                      </core-menu>
                    </paper-dropdown>
                  </paper-menu-button>
                </td>
              </tr>

              <!-- empty list -->
              <tr ng-cloak ng-show="posts.length < 1">
                <td colspan="4" class="empty-list">No Post exsist</td>
              <tr>

            </tbody>
          </table>

        <paper-fab id="remove-posts" style="display:none;"
          icon="delete" ng-click="removePosts('<%= postsDeleteUrl %>')" class="bottom indent" title="add new post"></paper-fab>

	      <paper-fab id="add-post" icon="add" ng-click="addPost('<%= newPostUrl %>')" class="bottom indent" title="add new post"></paper-fab>
	    </div>

  </div>
</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/admin_manage_post.js"></script>

<% include footer %>
