<%- include('header', {css:""}) %>

<core-header-panel flex>

  <%- include('admin_topbar', {activeTab: 1}) %>

  <div ng-controller="AdminSetting">

    <div id="contents">

      <div class="page-title">
        <core-icon icon="settings"></core-icon>&nbsp;Blog Setting
      </div>

      <form name="settingForm">

        <paper-input-decorator
          label="Blog Title"
          floatingLabel
          error="{{errorMessage(settingForm.blogTitle.$error)}}"
          isInvalid="{{!settingForm.blogTitle.$valid && settingForm.blogTitle.$dirty}}"
        >
          <input name="blogTitle" is="paper-input"
            required
            ng-model="formData.blogTitle"
            ng-init="formData.blogTitle='<%= blogTitle %>'"
            ng-maxlength="125"
            ng-minlength="1"
            ng-keydown="hideGlobalValidation()"
            value="<%= blogTitle %>"
          >
        </paper-input-decorator>

        <paper-input-decorator
          label="Author Name"
          floatingLabel
          error="{{errorMessage(settingForm.authorName.$error)}}"
          isInvalid="{{!settingForm.authorName.$valid && settingForm.authorName.$dirty}}"
        >
          <input name="authorName" is="paper-input"
            required
            ng-model="formData.authorName"
            ng-init="formData.authorName='<%= authorName %>'"
            ng-maxlength="125"
            ng-minlength="1"
            ng-keydown="hideGlobalValidation()"
            value="<%= authorName %>"
          >
        </paper-input-decorator>


        <radio-group>

          <legend>Post per page</legend>

          <paper-radio-group name="postPerPage" selected="<%= postPerPage %>" ng-model="formData.postPerPage">
            <paper-radio-button label="1" name="1">
            </paper-radio-button>
            <paper-radio-button name="3" label="3">
            </paper-radio-button>
            <paper-radio-button name="5" label="5">
            </paper-radio-button>
            <paper-radio-button name="10" label="10">
            </paper-radio-button>
            <paper-radio-button name="20" label="20">
            </paper-radio-button>
          </paper-radio-group>

        </radio-group>

        <fieldset>

          <legend>Profile</legend>

          <div id="setting-profile">

            <% if (profilePhoto) { %>
              <input type="hidden" name="profilePhoto"
                ng-model="formData.profilePhotoUrl"
                ng-init="formData.profilePhotoUrl='<%= profilePhoto %>'"
              ></input>
            <% } else { %>
              <input type="hidden" name="profilePhoto"
                ng-model="formData.profilePhotoUrl"
              ></input>
            <% } %>

            <table>
              <tbody>
                <tr>
                  <td id="photo" valign="bottom">

                    <!-- has photo -->
                    <div ng-show="formData.profilePhotoUrl && formData.profilePhotoUrl.length > 1">
                      <!-- https://ko.gravatar.com/userimage/73289291/68697ebee38c2b0c11bf79f1b6f95c78.png?size=125 -->
                      <img width="125px" height="125px" ng-cloak ng-src="{{formData.profilePhotoUrl}}">
                    </div>

                    <!-- do not have photo -->
                    <div ng-show="!formData.profilePhotoUrl || (formData.profilePhotoUrl && formData.profilePhotoUrl.length == 0)">
                      <img width="125px" height="125px" holder ng-cloak data-src="holder.js/100%x100%/text:PHOTO">
                    </div>

                  </td>

                  <td id="photo-edit" valign="bottom">
                    <div>
                      <paper-button role="button" tabindex="0" ng-click="clickPhotoEdit()">
                        <core-icon icon="create"></core-icon>&nbsp;EDIT
                      </paper-button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="editor-wrapper">
              <textarea  ng-cloak ng-editor id="editor" name="profileContents"
                ng-model="formData.profileContents"
              ><% if (profileContents) { %><%= profileContents %><% } %></textarea>
            </div>

          </div>

        </fieldset>

        <div class="buttons">
          <paper-button ng-click="submitForm('<%-submitUrl%>')" raised class="primary">SAVE</paper-button>
        </div>
      </form>
    </div>
  </div>

</core-header-panel>

<div ng-controller="AdminSettingDialog">

  <paper-action-dialog backdrop autoCloseDisabled layered="false"
    id="profile-photo-dialog"
    heading="Profile Photo"
    closeSelector="[force-close]"
    ng-cloak
  >
    <form name="profilePhotoForm">
      <paper-input-decorator
        label="Photo Url"
        error="{{errorMessage(profilePhotoForm.photoUrl.$error)}}"
        isInvalid="{{!profilePhotoForm.photoUrl.$valid && profilePhotoForm.photoUrl.$dirty}}"
      >
        <input name="photoUrl" is="paper-input"
          type="url"
          ng-model="formData.photoUrl"
        >
      </paper-input-decorator>
    </form>

    <paper-button ng-click="submit()" class="primary" affirmative>UPDATE</paper-button>
    <paper-button force-close affirmative>CANCEL</paper-button>

  </paper-action-dialog>

</div>




<script src="/components/requirejs/require.js" data-main="/js/admin_setting.js"></script>

<% include footer %>
