<% if(username) { %>
  <core-toolbar id="admin-mainheader" class="medium-tall" ng-controller="AdminTopMenu">
<% } else { %>
  <core-toolbar id="admin-mainheader" ng-controller="AdminTopMenu">
<% } %>

  <% if (username) { %>
    <paper-icon-button icon="menu" class="primary"></paper-icon-button>
  <% } %>
  <!-- branding -->
  <span flex>Invention4</span>


  <!-- menu buttons -->
  <div relative>
    <%if (username) { %>

      <paper-menu-button>
        <paper-icon-button icon="account-circle" class="primary" noink></paper-icon-button>
        <paper-dropdown class="dropdown" transition="" id="userinfo" halign="right">
          <core-menu class="menu">
            <paper-item noink>
              <div class="username"><%=username%></div>
              <div class="edituser">
                <paper-icon-button class="primary" icon="settings" ng-click="clickAccountSetting(<%=username%>)"></paper-icon-button>
              </div>
            </paper-item>

            <paper-item noink>
              <paper-button ng-click="logout('<%- logoutUrl %>')"
                raised class="submit primary">
                Logout&nbsp;<core-icon icon="exit-to-app"></core-icon>
              </paper-button>
            </paper-item>
          </core-menu>
        </paper-dropdown>
      </paper-menu-button>

    <% } %>
    <paper-icon-button ng-click="home()" icon="home" class="primary"></paper-icon-button>
  </div>


  <!-- tab menu -->
  <% if(username) { %>
    <div class="bottom fit" horizontal layout>
      <paper-tabs selected="<%= activeTab %>" flex>
        <paper-tab ng-click="tab('<%- managePostUrl %>')">MANAGE POST</paper-tab>
        <paper-tab ng-click="tab('<%- blogSettingUrl %>')">BLOG SETTING</paper-tab>
      </paper-tabs>
    </div>
  <% } %>

</core-toolbar>
