<%- include('header', {css:""}) %>

<core-header-panel flex>

  <%- include('admin_topbar', {activeTab: 0}) %>

  <div ng-controller="AdminNewPost">

    <div id="contents">

      <div class="page-title">
        <% if (postId) { %>
          <core-icon icon="create"></core-icon>&nbsp;Edit Post
        <% } else { %>
          <core-icon icon="add"></core-icon>&nbsp;New Post
        <% } %>

      </div>

      <form name="newPostForm">

        <paper-input-decorator
          label="Title"
          error="{{errorMessage(newPostForm.title.$error)}}"
          isInvalid="{{!newPostForm.title.$valid && newPostForm.title.$dirty}}"
        >
          <input name="title" is="paper-input"
            required
            ng-model="formData.title"
            ng-init="formData.title='<%= postTitle %>'"
            ng-keydown="hideGlobalValidation()"
            value="<%= postTitle %>"
          >
        </paper-input-decorator>

        <div class="editor-wrapper">
          <textarea style="display: block;" ng-cloak ng-editor id="editor" name="contents"
            required
            ng-model="formData.contents"
          ><% if (postContents) { %><%= postContents %><% } %></textarea>
        </div>

        <paper-shadow
          class="global-validator"
          z="1"
          ng-cloak
          ng-show="formData.valid.global"
        >
          <core-icon icon="report-problem"></core-icon>
          {{formData.error.global}}
        </paper-shadow>

        <div class="buttons">
          <div>

             <paper-button
                ng-click="submit('<%-submitUrl%>')"
                raised class="primary">
                <% if (postId) { %>
                  Update
                <% } else { %>
                  Publish
                <% } %>
              </paper-button>

             <paper-button
                ng-click="cancel('<%- managePostUrl %>')"
                raised>
                CANCEL
              </paper-button>
          </div>
        </div>

      </form>

    </div>

  </div>

  </div>
</core-header-panel>

<div ng-controller="AdminNewPostDialog">
  <paper-action-dialog backdrop autoCloseDisabled layered="false"
    id="content-invalid"
    ng-cloak
  >
    <p>{{message}}</p>
    <paper-button affirmative autofocus class="primary">close</paper-button>
  </paper-action-dialog>
</div>


<script src="/components/requirejs/require.js" data-main="/js/admin_new_post.js"></script>

<% include footer %>
