<%- include('header', {css:""}) %>

<core-header-panel flex>

  <% include blog_topbar %>

  <div ng-controller="BlogReadPost">

    <div id="contents">

      <paper-shadow class="content-box" z="1">
        <h1><a href="#" ng-click="clickTitle($event)"><%= post.title %></a></h1>

        <p class="date-and-autor">
          <%= post["publish_date"] %>&nbsp;
          |&nbsp;&nbsp;By <%= authorName %>
        </p>

        <div class="post-contents">
          <%- post.contents %>
        </div>

      </paper-shadow>

      <div class="nav-buttons">
        <paper-button raised ng-click="clickBack($event)">
          GO BACK
        </paper-button>
        <paper-button raised ng-click="clickShare($event)">
          SHARE
          <paper-dropdown class="dropdown" transition="" id="social-share">
            <div class="soc" data-size="26px" data-radius="0">
              <a href="#" social-twitter class="soc-twitter" title="Twitter"></a>
              <a href="#" social-facebook class="soc-facebook" title="Facebook"></a>
              <a href="#" social-gplus class="soc-google" title="Google plus"></a>
            </div>
          </paper-dropdown>
        </paper-button>

      </div>

    </div>

  </div>

</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/blog_read_post.js"></script>

<% include footer %>
