<%- include('header', {
  css         : "<link rel='stylesheet' href='/css/blog.css' shim-shadowdom>" +
    "<link rel='shortcut icon' href='/img/favicon.png'>",
  webcomponent: "<link rel='import' href='/webcomponent/blog.html'>"
}); %>

<core-header-panel flex>

  <% include blog_topbar %>

  <div ng-controller="Blog">

    <div id="contents">

      <% if(posts.length > 0) { %>

        <% for(var i=0; i<posts.length; i++) {%>
          <paper-shadow class="content-box summary" z="1">
            <h3><a href="<%= posts[i]["post_url"] %>"><%= posts[i].title %></a></h3>

            <p class="date-and-autor">
              <!--<core-icon icon="today"></core-icon>&nbsp;-->
              <%= posts[i]["publish_date"] %>&nbsp;
              |&nbsp;&nbsp;By <%= authorName %>
            </p>

            <p ng-init="summary[<%= i %>] = '<%= posts[i].summary %>'">
              <span ng-bind="summary[<%= i %>]"></span>
              ...
              &nbsp;<a href="<%= posts[i]["post_url"] %>">read more</a>
            </p>
          </paper-shadow>
        <% } %>

      <% } else { %>

        <paper-shadow class="content-box summary" z="1">
          <h3>&nbsp;</h3>
          <h3 style="color: #AAAAAA;text-align:center;">No post exsist</h3>
        </paper-shadow>

      <% } %>

      <div class="nav-buttons">
        <%if (prevUrl) { %>
          <paper-button raised ng-click="clickPagenator('<%=prevUrl%>')">PREV</paper-button>
        <% } else { %>
          <paper-button raised disabled>Prev</paper-button>
        <% } %>

        <%if (nextUrl) { %>
          <paper-button raised ng-click="clickPagenator('<%=nextUrl%>')">NEXT</paper-button>
        <% } else { %>
          <paper-button raised disabled>NEXT</paper-button>
        <% } %>
      </div>

    </div>

  </div>

</core-header-panel>

<script src="/components/requirejs/require.js" data-main="/js/blog.js"></script>

<% include footer %>
